.button-success {
  color: #FFF;
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  color: #FFF;
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  color: #FFF;
  background: rgb(66, 184, 221); /* this is a light blue */
}
